<div class="row">
    <div class="col-md-4 col-xs-4">
        <h1> <%= "£"+@house.price.to_s %><h1> 
            </div>
            <div class="col-md-1 col-md-offset-7 col-xs-2 col-xs-offset-6 favourite-form">
                <% if house_is_favourite? @house.title  then %>
                    <%= render 'houses/form_remove_favourite' %>
                    <% else %>
                        <%= render 'houses/form_add_favourite' %>
                            <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="house-title" class="col-md-12">
                            <h2><%= @house.title %></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12 house-image">
                            <%= image_tag @house.img_url, width: '100%' %>
                        </div>
                        <div class="col-md-6">
                            <%= @house.bedroom_number.to_s+" Bedroom".pluralize(@house.bedroom_number) %>, <%= @house.bathroom_number.to_s+" Bathroom".pluralize(@house.bathroom_number) %> 
                            <p>
                            <div class="house-summary">
                                <%= @house.summary %>
                            </div>
                            </p>
                        </div>
                    </div>
